/*:::::STRUCTURAL:::::*/
body{
    font-family: 'Roboto', sans-serif;
    word-break: break-word; 
}
*{
    box-sizing: border-box;
}
.container{
    width: 100vw;
    background-color: #e5e5e5;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05); 
}
.content{
    width: 100vw;
    padding: 80px 0px;
}
/*:::::STRUCTURAL END:::::*/
/*:::::HEADER:::::*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    padding: 11px 22px 11px 22px;
}
.people{
    width: 42px;
    height: 30px;   
}
/*:::::HEADER END:::::*/
/*:::::MESSAGE CONTENT:::::*/
.mensagens{
    width: 100vw;
    padding: 12px;
    margin-bottom: 5px;
}
/*:::::MESSAGE CONTENT END:::::*/
/*:::::FOOTER:::::*/
.textBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100vw;
    height: 80px;
    bottom: 0;
    word-break: break-word;
    margin-top: 80px;
    padding: 18px; 
}
#msgtext{
    width: 280px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
    border:none;  
    outline: none;
    font-weight: bold;  
}
.msgBox{
    margin-top: 80px;
}
#send{
    color:rgba(0, 0, 0, 0);
    border:none;  
    outline: none;
}
/*:::::FOOTER END:::::*/
/*Classes de Suporte*/
.entrouNaSala{
    background-color: #DCDCDC;
    margin-bottom: 5px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    word-break: break-word; 
}
.mensagemPadrao{
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
strong{
    font-weight: bold;
}
.mensagemPrivada{
    background-color:#FFDEDE;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
